
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}

header {
  background: lightblue;
  text-align: center;
  padding: 2%;
  color: #0c528a;
}

h2 {
  color: #0c528a;
}

p {
  /* color: #003661; */
  color: #8a012f;
  font-weight: bold;
}
section {
  text-align: center;
}
body {
  background-image:url('img/snow.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}